<!DOCTYPE html>
<html>
<head>
  <title>Gameface</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <form action="<%= session_url%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>"
    >
    <button>Logout</button>
  </form>

  </form> -->
<%= yield %>

</body>
</html>
